/* brandConcept品牌理念 */
.brandConcept{
	position: relative;
	margin-top: 16px;
	margin-bottom: 28px;
	text-align: center;
	padding: 0 0 38px;
	/* height: 00px; */
	/* background-color: pink; */
}
.brandConcept h2{
	margin:18px 0 6px;
	
	color: #5b3f35;
	font-size: 36px;
	font-weight: 400;
	font-family: 微软雅黑;
}
.brandConcept h3{
	position: absolute;
	top: 650px;
	left: 448px;
	padding-left: 288px;
	font-size: 18px;
	font-weight: 400;
	color: #9c827d;
}
.brandConcept .line{
	margin: 18px auto 26px;
	width: 46px;
	height: 4px;
	background-color: #a78477;
}
.brandConcept p{
	font-size: 17px;
	line-height: 38px;
	color: #696665;
}
.brandConcept img{
	margin-bottom: 28px;
	width: 1000px;
}



















































